@import '../../../styles/variables.less';

.week-calendar {
  .rbc-time-view {
    border: none;
    .rbc-time-header {
      .rbc-time-header-content {
        border: none;
      }
      .rbc-time-header-content {
        .rbc-allday-cell {
          display: none;
        }
        .rbc-time-header-cell {
          .rbc-header {
            + .rbc-header {
              border-left: none;
              border-right: none;
            }
            &.rbc-today {
              .rbc-header-text {
                color: @primary-color;
              }
            }
          }
        }
      }
    }
    .rbc-time-content {
      border-top: none;
      .rbc-time-gutter {
        &.rbc-time-column {
        }
      }
      .rbc-day-slot {
        .rbc-timeslot-group {
          border-bottom: 1px solid @border-color-base;
          .rbc-time-slot {
            border-top: none;
          }
          > div {
            flex-grow: 1;
            z-index: 1;
            .rbc-time-slot {
              height: 100%;
            }
            &:hover {
              border-top: 1px solid @primary-color;
            }
          }
        }
        &:last-child {
          border-right: 1px solid @border-color-base;
        }
        .rbc-events-container {
          margin-right: 0;
          .rbc-event {
            border-radius: 0 @border-radius-base @border-radius-base 0;
            z-index: 2;
            .rbc-event-label {
              display: none;
            }
          }
        }
      }
    }
  }
  .rbc-timeslot-group {
    border-bottom: none;
    min-height: 95px;
  }
  .rbc-today {
    background: none;
  }
}

.rtl {
  &.rbc-events-container {
    margin-right: 0;

    .rbc-event {
      width: 100% !important;
    }
  }
  .rbc-day-slot {
    &:last-child {
      border-right: none !important;
      border-left: 1px solid @border-color-base;
    }
  }
}
