@import '../../styles/variables.less';

.custom-button {
  .custom-icon {
    margin: 0 5px;
    font-size: 24px !important;
    line-height: 23px !important;
  }
  span {
    margin: 0 5px;
    font-weight: bold;
  }

  &.ant-btn-default {
    color: @text-color-secondary;
  }
}
