@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import '~css-pro-layout/dist/less/css-pro-layout.less';
@import './variables.less';

body {
  height: 100vh;
  margin: 0;
  margin: 0;
}

#root {
  height: 100%;
}

.layout {
  .sidebar {
    background-color: #001529;
    color: white;
  }
  .content {
    background-color: @layout-body-background;
  }
}

.sidebar-collapser {
  @media (max-width: @breakpoint-md) {
    display: none;
  }
}

.icons {
  font-size: 1.2rem;
}
