@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import '~css-pro-layout/dist/less/css-pro-layout.less';

body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.layout {
  .sidebar {
    background-color: #001529;
    color: white;
  }
}
