// css pro layout variables
@sidebar-width: 240px;
@sidebar-collapsed-width: 80px;
@header-height: 64px;
@footer-height: 64px;

// ant design theme
// @ant-prefix: docta;

@primary-color: #00b6f8; // primary color for all components
@link-color: #00b6f8; // link color
@success-color: #00e592; // success state color
@warning-color: #ffb400; // warning state color
@error-color: #ff4954; // error state color
@font-size-base: 14px; // major text font size
@heading-color: #273151; // heading text color
@text-color: #273151; // major text color
@text-color-secondary: #74798c; // secondary text color
// @disabled-color: #f1f2f4; // disable state color
@disabled-bg: #f1f2f4;
@border-radius-base: 4px; // major border radius
@border-color-base: #e2e5f7; // major border color
@box-shadow-base: 4px 0 6px -1px rgba(10, 22, 70, 0.1), 0 0 1px 0 rgba(10, 22, 70, 0.06); // major shadow for layers
@font-variant-base: normal;
// height rules
@height-base: 48px;
@height-lg: 56px;
@height-sm: 40px;

// Input
@input-placeholder-color: @text-color-secondary;
@input-bg: #f9f9fb;

// Button
@btn-border-radius-base: 8px;
@btn-border-radius-sm: @border-radius-base;

// form
@form-item-margin-bottom: 0;
