@print {
  @font-face {
    font-family: 'Circular Std Book';
    src: url('/fonts/circularStg/CircularStd-Book.eot');
    src: local('Circular Std Book'), local('CircularStd-Book'),
      url('/fonts/circularStg/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
      url('/fonts/circularStg/CircularStd-Book.woff2') format('woff2'),
      url('/fonts/circularStg/CircularStd-Book.woff') format('woff'),
      url('/fonts/circularStg/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
@page {
  margin: 0;
  size: A5;
}

#print-subscription {
  font-family: 'Circular Std Book', sans-serif !important;
}
