@import '../../styles/variables.less';
.ant-tabs {
  .ant-tabs-tab {
    color: @text-color-secondary;
    font-weight: 500;
    svg {
      fill: @text-color-secondary;
      width: 16px !important;
      height: 16px !important;
    }
    &.ant-tabs-tab-active {
      svg {
        fill: @primary-color;
      }
    }
  }
  &.ant-tabs-small {
    .ant-tabs-tab {
      font-size: 12px;
    }
  }
}
